body{
    background-color: darksalmon;
    text-align: center;
    color:antiquewhite;
 
}

h1{
    font-size: 80px;
    text-transform: uppercase;
   font-family: 'Courier New', Courier, monospace;  
}



p{
    font-size: 40px;

    letter-spacing: 10px;
    font-weight: 100px;
    font-family: cursive;

}

button{
    padding: 10px 25px ;
    width: 180px;
    background-color: antiquewhite;
    border-color: white;
    color: salmon;
     font-size: 20px;
     margin: 15px;
     border-radius: 15px;
}

button:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: white;
    color: grey;
}